<%- contentFor('HeaderCss') %>
  <!-- Page-specific CSS -->
<%- contentFor('body') %>

  <!-- Start content -->
  <% include ../Partials/HeaderRoot %>

  <div class="content">
    <div class="container-fluid">

      <!-- Page Title -->
      <div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title" style="display: inline-block;">View Rights</h4>
            <!-- Save button at the top right -->
            <div style="display: inline-block; float: right;">
                <a href="">
                    <button type="button" class="btn btn-primary w-100">Save</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Role Name and Status Section -->
<div class="row">
    <div class="col-md-6 mb-3">
        <label class="form-label">Role Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Enter Role Name" required>
    </div>
    <div class="col-md-6 mb-3">
        <label class="form-label">Status</label>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="statusSwitch" checked>
            <label class="form-check-label" for="statusSwitch" data-on-label="Active" data-off-label="Inactive">Active</label>
        </div>
    </div>
</div>


      <!-- Accordion Example -->
      <div class="card mt-3">
        <div class="card-body">
          <div id="accordion">

            <!-- Accordion Item: Admin Setup -->
            <div class="card mb-1">
              <div class="card-header p-3" id="headingTwo">
                <h6 class="m-0 font-14">
                  <a href="#collapseTwo" class="text-dark collapsed" data-bs-toggle="collapse"
                     aria-expanded="false" aria-controls="collapseTwo">
                    Admin Setup
                  </a>
                </h6>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                <div class="card-body">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Form Name</th>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>List</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Document Requirements List (Admin)</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Add New User (Admin)</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Add Checklist Item</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Notification</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Reports</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Accordion Item: Radiology -->
            <div class="card mb-1">
              <div class="card-header p-3" id="headingOne">
                <h6 class="m-0 font-14">
                  <a href="#collapseOne" class="text-dark" data-bs-toggle="collapse"
                     aria-expanded="true" aria-controls="collapseOne">
                    Radiology
                  </a>
                </h6>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Form Name</th>
                          <th>View</th>
                          <th>Add</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>List</th>
                          <th>Active</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Radiologist Registration</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Radiologist Dashboard</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>View Radiologist Documents</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Notification</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Reports</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Accordion Item: Reviewer -->
            <div class="card mb-1">
              <div class="card-header p-3" id="headingThree">
                <h6 class="m-0 font-14">
                  <a href="#collapseThree" class="text-dark collapsed" data-bs-toggle="collapse"
                     aria-expanded="false" aria-controls="collapseThree">
                    Reviewer
                  </a>
                </h6>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                <div class="card-body">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Form Name</th>
                        <th>View</th>
                        <th>Add</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>List</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Reviewer Process List</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Reviewer Dashboard</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Notification</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                      <tr>
                        <td>Reports</td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                        <td><input type="checkbox" checked></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Accordion Item: Hospital Setup -->
            <div class="card mb-1">
              <div class="card-header p-3" id="headingFour">
                <h6 class="m-0 font-14">
                  <a href="#collapseFour" class="text-dark collapsed" data-bs-toggle="collapse"
                     aria-expanded="false" aria-controls="collapseFour">
                    Hospital Setup
                  </a>
                </h6>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Form Name</th>
                          <th>View</th>
                          <th>Add</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>List</th>
                          <th>Active</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Healthcare Facility List</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Healthcare Facility Add</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Healthcare Facility  Edit</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Healthcare Facility List View</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>User Management</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Reports</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        <tr>
                          <td>Billing & Invoices</td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                          <td><input type="checkbox" checked></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>  
            </div>

          </div><!-- /#accordion -->
        </div>
      </div>

    </div>
  </div>

<%- contentFor('FooterJs') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
