<%- contentFor('HeaderCss') %>
<!-- Page-specific CSS -->

<%- contentFor('body') %>

<!-- Start content -->
<% include ../Partials/HeaderRoot %>

<div class="content">
  <div class="container-fluid">

    <!-- Page Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title" style="display: inline-block;">Add Form</h4>
          <!-- Save button at the top right -->
          <div style="display: inline-block; float: right;">
            <button type="submit" class="btn btn-primary w-100">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Form -->
     <div class="row">
      <div class="col-lg-12">
        <div class="card m-b-20">
          <div class="card-body">
            <form action="/submit-form" method="POST">
              <div class="row mb-3">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="formName">Form Name*</label>
                    <input type="text" class="form-control" id="formName" name="formName" placeholder="Radiologist Registration Email" required>
                  </div>
                </div>
              </div>

              <label>Permissions</label>
              <div class="row mb-3">
                <div class="col-sm-6">
                  <div class="form-check d-flex align-items-center">
                    <!-- Switch Input -->
                    <input type="checkbox" id="switchView" switch="none" checked class="form-check-input me-2" />
                    <!-- Switch Label (On/Off) -->
                    <label for="switchView" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <!-- Text Label -->
                    <label class="form-check-label ms-2">View</label>
                  </div>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" id="switchEdit" switch="none" checked class="form-check-input me-2" />
                    <label for="switchEdit" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <label class="form-check-label ms-2">Edit</label>
                  </div>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" id="switchAdd" switch="none" checked class="form-check-input me-2" />
                    <label for="switchAdd" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <label class="form-check-label ms-2">Add</label>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" id="switchDelete" switch="none" checked class="form-check-input me-2" />
                    <label for="switchDelete" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <label class="form-check-label ms-2">Delete</label>
                  </div>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" id="switchList" switch="none" checked class="form-check-input me-2" />
                    <label for="switchList" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <label class="form-check-label ms-2">List</label>
                  </div>
                  <div class="form-check d-flex align-items-center">
                    <input type="checkbox" id="switchActive" switch="none" checked class="form-check-input me-2" />
                    <label for="switchActive" data-on-label="On" data-off-label="Off" class="form-check-label"></label>
                    <label class="form-check-label ms-2">Active</label>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="sequence">Order / Sequence*</label>
                    <input type="number" class="form-control" id="sequence" name="sequence" value="10" required>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('FooterJs') %>
