<%- contentFor('HeaderCss') %>
<!-- Page-specific CSS -->

<%- contentFor('body') %>

<!-- Start content -->
<% include ../Partials/HeaderRoot %>
<div class="content">
  <div class="container-fluid">

    <!-- Page Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title" style="display: inline-block;">User List</h4>
          <!-- Save button at the top right -->
          <div style="display: inline-block; float: right;">
            <button type="button" class="btn btn-primary w-100" onclick="window.location.href='pages-tenant-user-add'">Add User</button>
          </div>
          
        </div>
      </div>
    </div>

    <!-- User Table -->
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
            <table class="table table-striped table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Contact #</th>
                  <th>Whatsapp #</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Areeb Khan</td>
                 <td>
  <a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Admin</a>
</td>
                  <td>+92212002137</td>
                  <td>+92212002137</td>
                  <td>Areeb@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Baber Ali</td>
                 <td>
                   <a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Radiologist</a>
                  </td>
                   <td>+92211121100</td>
                  <td>+92211121100</td>
                  <td>anblab@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Dilwar Ahmed</td>
                   <td>
                   <a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Reviewer</a>
                  </td>
                  <td>+92212222111</td>
                  <td>+92212222111</td>
                  <td>Dilwar@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Ejaz Khan</td>
                   <td>
                   <a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Hospital</a>
                  </td> <!-- Role replaced with Hospital -->
                 
                  <td>+92212233122</td>
                  <td>+92212233122</td>
                  <td>ejaz@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <!-- Repeat this for the other rows as needed -->
                <tr>
                  <td>Fayyaz Ali</td>
                  <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Admin</a></td>
                  
                  <td>+92212244133</td>
                  <td>+92212244133</td>
                  <td>fayyaz@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Furrukh Manzoor</td>
                 <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Admin</a></td>
                  
                  <td>+92212244144</td>
                  <td>+92212244144</td>
                  <td>fkhna@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Gulam Ali</td>
                 <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Reviewer</a></td>
                  
                  <td>+92212255155</td>
                  <td>+92212255155</td>
                  <td>gulam@hotmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Mustifa Maheer</td>
                  
                  <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Reviewer</a></td>
                  
                  <td>+92212266166</td>
                  <td>+92212266166</td>
                  <td>mustifa@gmail.com</td>
                  <td>enabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Nasir Khan</td>
                 
                  <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Hospital</a></td>
                  <td>+92212277177</td>
                  <td>+92212277177</td>
                  <td>nasir@gmail.com</td>
                  <td>disabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
                <tr>
                  <td>Rizwan Awan</td>
                
                  <td><a href="#" class="btn btn-info btn-sm" onclick="window.location.href='pages-user-rights'" style="background-color: black; color: white;">Admin</a></td>
                  <td>+92212288188</td>
                  <td>+92212288188</td>
                  <td>rizwan@gmail.com</td>
                  <td>disabled</td>
                  <td>
                    <a href="#" class="btn btn-info btn-sm">View</a>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Pagination -->
            <div class="d-flex justify-content-between">
              <p>Total records: 10</p>
              <div class="pagination">
                <!-- Add pagination buttons here if needed -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%- contentFor('FooterJs') %> 
