  <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <span>
                            
                        </span>
                        <i>
                           
                        </i>
                    </a>
                </div>

                <nav class="navbar-custom">
                    <ul class="navbar-right d-flex list-inline float-right mb-0">
                        <li class="dropdown notification-list d-none d-sm-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0"> 
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form> 
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ti-bell noti-icon"></i>
                                <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                                <!-- item-->
                                <h6 class="dropdown-item-text">
                                    Notifications (258)
                                </h6>
                                <div class="slimscroll notification-item-list">
  <!-- Approve Document Notification -->
  <a href="javascript:void(0);" class="dropdown-item notify-item active">
    <div class="notify-icon bg-success"><i class="mdi mdi-check-circle"></i></div>
    <p class="notify-details">Document Approved<span class="text-muted">The medical degree certificate has been approved.</span></p>
  </a>

  <!-- Request Resubmission Notification -->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <div class="notify-icon bg-warning"><i class="mdi mdi-upload"></i></div>
    <p class="notify-details">Resubmission Requested<span class="text-muted">Please upload a clearer copy of your ID document.</span></p>
  </a>

  <!-- Reject Document Notification -->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <div class="notify-icon bg-danger"><i class="mdi mdi-close-circle"></i></div>
    <p class="notify-details">Document Rejected<span class="text-muted">Your work experience letter was rejected due to missing information.</span></p>
  </a>

  <!-- Another Approve Document Notification -->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <div class="notify-icon bg-info"><i class="mdi mdi-check-circle"></i></div>
    <p class="notify-details">Document Approved<span class="text-muted">Your radiology license has been approved.</span></p>
  </a>

  <!-- Another Resubmission Request -->
  <a href="javascript:void(0);" class="dropdown-item notify-item">
    <div class="notify-icon bg-primary"><i class="mdi mdi-upload"></i></div>
    <p class="notify-details">Resubmission Requested<span class="text-muted">Please resubmit your profile picture with a higher resolution.</span></p>
  </a>
</div>

                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>        
                        </li>
                        <li class="dropdown notification-list">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="public/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a>
                                    <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>                                                                    
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->
