<%- contentFor('HeaderCss') %>
<!-- particular page css -->
<!-- Dropzone css -->
<link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

<%- contentFor('body') %>
<!-- Start content -->
<div class="content">
  <div class="container-fluid">

    <!-- Page Title with Save Button -->
    
    </div>
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title" style="display: inline-block;">Add Radiologist Documents</h4>
                <!-- Save button at the top right -->
                <div style="display: inline-block; float: right;">
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </div>
            </div>
        </div>


        <!-- Main Form Section -->
    <div class="row">
      <div class="col-12">
        <div class="card m-b-20">
          <div class="card-body">
         

        <!-- Row 1: Document fields -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Document Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="Medical Degree Certificate" required>
                </div>
            </div>

            <!-- Expiry Date -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Expiry Date</label>
                    <div class="input-group">
                        <input type="date" class="form-control" value="2020-01-01">
                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row 2: Remarks and Dropzone -->
        <div class="row">
            <!-- Remarks -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Remarks</label>
                    <input type="text" class="form-control" value="Plz view my doc">
                </div>
            </div>

            <!-- Dropzone Section -->
            <div class="col-md-6">
                <h4 class="mt-0 header-title">Upload Multiple Files here</h4>
                <p class="text-muted m-b-30">The format should be PNG, JPG, PDF, or DOCX, and the size should be less than 20 GB</p>

                <div class="m-b-30">
                    <form action="#" class="dropzone">
                        <div class="fallback">
                            <input name="file" type="file" multiple="multiple">
                        </div>
                    </form>
                </div>

                <div class="text-center m-t-15">
                    <button type="button" class="btn btn-primary waves-effect waves-light">Send Files</button>
                </div>
            </div>
        </div>

        
          </div>
        </div>
      </div>
    </div>

</div> <!-- content -->

<%- contentFor('FooterJs') %>

<!-- Dropzone js -->
<script src="public/plugins/dropzone/dist/dropzone.js"></script>
