<%- contentFor('HeaderCss') %>
<!-- Page-specific CSS -->

<%- contentFor('body') %>

<!-- Start content -->
<% include ../Partials/HeaderRoot %>

<div class="content">
  <div class="container-fluid">

    <!-- Page Title -->
    
     <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title" style="display: inline-block;">View Rights</h4>
          <!-- Save button at the top right -->
          <div style="display: inline-block; float: right;">
            <a href="pages-healthcare-user-add-form">
  <button type="button" class="btn btn-primary w-100">Add Form</button>
</a>

          </div>
          
        </div>
      </div>
    </div>
<!-- Role Name and Status Section -->
<div class="row">
    <div class="col-md-6 mb-3">
    <label class="form-label">Role Name <span class="text-danger">*</span></label>
    <input type="text" class="form-control" placeholder="Enter Role Name" value="Hospital" disabled>
</div>
    <div class="col-md-6 mb-3">
    <label class="form-label">Status</label>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="statusSwitch" checked disabled>
        <label class="form-check-label" for="statusSwitch" data-on-label="Active" data-off-label="Inactive">Active</label>
    </div>
</div>

</div>

    <!-- Accordion Example -->
    <div class="card mt-3">
      <div class="card-body">
           <div id="accordion">

            <!-- Accordion Item 2: Admin Setup -->
           <div class="card mb-1">
            <div class="card-header p-3" id="headingOne">
              <h6 class="m-0 font-14">
                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                     Admin Rights 
                </a>
              </h6>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Form Name</th>
                  <th>View</th>
                  <th>Add</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>List</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Hospital Registration</td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                </tr>
                <tr>
                  <td>Hospital Dashboard</td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                </tr>
                <tr>
                  <td> Radiologist API User</td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                </tr>
                <tr>
                  <td> Hospital Notification</td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                </tr>
                <tr>
                  <td>Hospital User Management</td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                  <td><input type="checkbox" checked></td>
                </tr>
              </tbody>
            </table>
                </div>
              </div>
            </div>
          </div>

    
          

          
        </div>

      </div>
    </div>

  </div>
</div>

<%- contentFor('FooterJs') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
