<%- contentFor('HeaderCss') %>
  <!-- Page-specific CSS -->

  <%- contentFor('body') %>

    <!-- Start content -->
    <% include ../Partials/HeaderRoot %>

      <div class="content">
        <div class="container-fluid">
          <!-- Page Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title" style="display: inline-block;">View Healthcare </h4>
                <!-- Back Button at the top right -->
                <div style="display: inline-block; float: right;">
                  <button type="submit" class="btn btn-primary w-100">Edit</button>
                </div>
              </div>
            </div>
          </div>

          <!-- View Healthcare Facility Form -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card m-b-20">
                <div class="card-body">
                  <form>
                    <!-- Healthcare Facility Details -->
                    <h5 class="mb-3">Healthcare Facility Details</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Healthcare Name</label>
                        <input type="text" class="form-control" value="ABC Hospital" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Contact Person</label>
                        <input type="text" class="form-control" value="Dr. John Doe" readonly>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Contact Number</label>
                        <input type="text" class="form-control" value="+92212002137" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Contact Email</label>
                        <input type="email" class="form-control" value="contact@abc-hospital.com" readonly>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Valid Till</label>
                        <input type="date" class="form-control" value="2023-12-31" readonly>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" value="enabled" readonly>
                      </div>
                    </div>



                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <%- contentFor('FooterJs') %>